DB_USERNAME=admin
DB_PASSWORD=123pass1999

USERS_DB_NAME=users_buy01
PRODUCTS_DB_NAME=products_buy01

JWT_SECRET=AchrafOUCHCHATE1303AchrafOUCHCHATE1303AchrafOUCHCHATE1303
JWT_EXPIRATION=3600000

USER_DB_URI=mongodb://admin:123pass1999@users-mongodb:27017/users_buy01?authSource=admin
PRODUCT_DB_URI=mongodb://admin:123pass1999@products-mongodb:27017/products_buy01?authSource=admin


AWS_ACCESS_KEY_ID=changeme
AWS_SECRET_ACCESS_KEY=changeme
R2_BUCKET=buy01
R2_ENDPOINT=http://localhost:9000
R2_PUBLIC_URL=http://localhost:9000
CORS_ALLOWED_ORIGIN=http://localhost:4200
